UnityTractsVisualizer/Assets/AssetStoreTools/**
UnityTractsVisualizer/Assets/AssetStoreTools.meta
UnityTractsVisualizer/Assets/TubeExtrusion.meta
UnityTractsVisualizer/Library/**
UnityTractsVisualizer/Logs/**
UnityTractsVisualizer/Packages/**
UnityTractsVisualizer/ProjectSettings/**
UnityTractsVisualizer/Temp/**
*.meta
*.apk